@{
    Layout = "_AdminLayout";
}

<div class="content">
    <div class="card card-default">
        <div class="card-body">
            <p>Go to list to manage labels.</p>
            <a href="/Admin/ProductLabels/List" class="btn btn-primary">Manage Labels</a>
        </div>
    </div>
</div>