@model Nop.Plugin.Widgets.NivoSlider.Models.PublicInfoModel
@{
    Layout = "";
}

<link rel="stylesheet" href="~/Plugins/Widgets.NivoSlider/Content/nivoslider/nivo-slider.css" />
<link rel="stylesheet" href="~/Plugins/Widgets.NivoSlider/Content/nivoslider/themes/custom/custom.css" />
<script asp-exclude-from-bundle="true"
        src="~/Plugins/Widgets.NivoSlider/Scripts/jquery.nivo.slider.js"
        asp-location="Footer"></script>

<div class="slider-wrapper theme-custom">
    <div id="nivo-slider" class="nivoSlider">

        @foreach (var slide in Model.Slides)
        {
            var dataSlide = new ViewDataDictionary(ViewData)
            {
                { "pictureUrl", slide.PictureUrl },
                { "productUrl", slide.PictureProductUrl },
                { "captionHtml", slide.CaptionHtml },
                { "link", slide.Link },
                { "alttext", slide.AltText },
                { "dataTransition", "slideInLeft" }
            };

            @await Html.PartialAsync("~/Plugins/Widgets.NivoSlider/Views/_PublicInfo.SliderLine.cshtml", dataSlide)
        }

    </div>
</div>

<script asp-location="Footer">
    $(window).on('load', function () {
        $('#nivo-slider').nivoSlider();
    });
</script>