@model IList<CategoryModel>

@inject IViewComponentSelector viewComponentSelector
<style>
    .category-slider .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 260px; 
    }

    .category-slider .item-box {
        width: 100%;
        max-width: 160px;
        text-align: center;
        background: #fff;
        border-radius: 16px;
        /* padding: 20px; */
       
        transition: transform .3s ease;
    }

        .category-slider .item-box:hover {
            transform: translateY(-6px);
        }

    .category-slider .picture {
        height: 190px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .category-slider .picture img {
            max-height: 100%;
            max-width: 100%;
            object-fit: fill;
        }

    .category-slider {
        padding: 40px 0;
    }

        .category-slider .swiper-pagination {
            bottom: 0 !important;
        }

        .category-slider .swiper-pagination-bullet {
            background: #ddd;
            opacity: 1;
        }

        .category-slider .swiper-pagination-bullet-active {
            background: #f4a51c;
        }

</style>

@if (Model.Count > 0)
{
    <div class="swiper category-slider">
        <div class="swiper-wrapper">
            @foreach (var item in Model)
            {
                <div class="swiper-slide">
                    <a class="item-box"
                       href="@Url.RouteUrl("Category", new { SeName = item.SeName })">
                        <div class="picture">
                            <img src="@item.PictureModel.ImageUrl"
                                 alt="@item.PictureModel.AlternateText" />
                        </div>
                    </a>
                </div>
            }
        </div>
        <div class="swiper-pagination"></div>
    </div>

}



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
           new Swiper(".category-slider", {
        loop: true,
        autoplay: {
            delay: 3500,
            disableOnInteraction: false
        },
        spaceBetween: 30,
        slidesPerView: 4,
        centeredSlides: false,
        breakpoints: {
            0: { slidesPerView: 1 },
            576: { slidesPerView: 2 },
            768: { slidesPerView: 3 },
            1200: { slidesPerView: 4 }
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true
        }
    });

    });
</script>
