@model Nop.Plugin.Widgets.NivoSlider.Models.SlideModel
@{
    Layout = "_AdminLayout";
}

<form asp-area="Admin"
      asp-controller="WidgetsNivoSlider"
      asp-action="Edit"
      method="post">

    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />

    <div class="content-header clearfix">
        <h1 class="float-left">
            Edit Slide
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                Save
            </button>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">

            <div class="card card-default">
                <div class="card-body">

                    <div class="form-horizontal">

                        <!-- Text -->
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Text" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Text" />
                                <span asp-validation-for="Text"></span>
                            </div>
                        </div>

                        <!-- Picture -->
                        <div class="form-group row">    
                            <div class="col-md-3">
                                <nop-label asp-for="PictureId" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="PictureId" />
                                <span asp-validation-for="PictureId"></span>
                            </div>
                        </div>

                        <!-- Product Picture -->
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="PictureProductId" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="PictureProductId" />
                                <span asp-validation-for="PictureProductId"></span>
                            </div>
                        </div>

                        <!-- Caption HTML -->
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="CaptionHtml" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="CaptionHtml" asp-template="RichEditor" />
                                <span asp-validation-for="CaptionHtml"></span>
                            </div>
                        </div>

                        <!-- Link -->
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Link" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Link" />
                                <span asp-validation-for="Link"></span>
                            </div>
                        </div>

                        <!-- AltText -->
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="AltText" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AltText" />
                                <span asp-validation-for="AltText"></span>
                            </div>
                        </div>

                        <!-- DisplayOrder -->
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="DisplayOrder" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="DisplayOrder" />
                                <span asp-validation-for="DisplayOrder"></span>
                            </div>
                        </div>

                        <!-- IsActive -->
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="IsActive" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="IsActive" />
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </section>

</form>